.geolab-logo{
	width: 1278px;
	position: relative;
}
.eye{
	position: absolute;
	left: 34.6%;
	top:21.9%;
	width: 180px;
	animation-name: eye;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.eye:hover{
	width: 360px;
	animation-duration: 3s;
	left: 28%;
	top:18%;
}
@keyframes eye{
	0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
}
